html 
{
  box-sizing: border-box;
}

body 
{
  
  display: flex;
  justify-content:center;
  font-family: 'Rubik',sans-serif;
  
}
.name{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #bbb;
}


.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.hidden 
{
  display: none !important;
}

header 
{
  text-align: center;
  font-size: 18px;
}

.heading 
{
  font-size: 3em;
}

.tile-box 
{
  display: grid;
  grid-template-rows: 120px 120px 120px 120px 120px 120px;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;;
  grid-gap:7px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
}
  
.unclickable 
{
  pointer-events: none;
}

.tile
 {
 // transition: 0.15s;
  background-color:#f36355;
  border-radius:10px;
  }


.tile-r1c1:active,
.tile-r1c1.activated,
.tile-r1c2:active,
.tile-r1c2.activated,
.tile-r1c3:active,
.tile-r1c3.activated,
.tile-r1c4:active,
.tile-r1c4.activated,
.tile-r1c5:active,
.tile-r1c5.activated,
.tile-r1c6:active,
.tile-r1c6.activated,
.tile-r2c1:active,
.tile-r2c1.activated,
.tile-r2c2:active,
.tile-r2c2.activated,
.tile-r2c3:active,
.tile-r2c3.activated,
.tile-r2c4:active,
.tile-r2c4.activated,
.tile-r2c5:active,
.tile-r2c5.activated,
.tile-r2c6:active,
.tile-r2c6.activated,
.tile-r3c1:active,
.tile-r3c1.activated,
.tile-r3c2:active,
.tile-r3c2.activated,
.tile-r3c3:active,
.tile-r3c3.activated,
.tile-r3c4:active,
.tile-r3c4.activated,
.tile-r3c5:active,
.tile-r3c5.activated,
.tile-r3c6:active,
.tile-r3c6.activated,
.tile-r4c1:active,
.tile-r4c1.activated,
.tile-r4c2:active,
.tile-r4c2.activated,
.tile-r4c3:active,
.tile-r4c3.activated,
.tile-r4c4:active,
.tile-r4c4.activated,
.tile-r4c5:active,
.tile-r4c5.activated,
.tile-r4c6:active,
.tile-r4c6.activated,
.tile-r5c1:active,
.tile-r5c1.activated,
.tile-r5c2:active,
.tile-r5c2.activated,
.tile-r5c3:active,
.tile-r5c3.activated,
.tile-r5c4:active,
.tile-r5c4.activated,
.tile-r5c5:active,
.tile-r5c5.activated,
.tile-r5c6:active,
.tile-r5c6.activated,
.tile-r6c1:active,
.tile-r6c1.activated,
.tile-r6c2:active,
.tile-r6c2.activated,
.tile-r6c3:active,
.tile-r6c3.activated,
.tile-r6c4:active,
.tile-r6c4.activated,
.tile-r6c5:active,
.tile-r6c5.activated,
.tile-r6c6:active,
.tile-r6c6.activated

{ 
 background-color: #00a4ed;
border-radius:10px;
transition:100;
}



.info-section 
{
  text-align: center;
}

.start-button 
{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #bbb;
  
}

.start-button:hover 
{
  color: #333;
  border-color: #888;
  outline: 0;
}

.info 
{
  font-size: 30px;
}
